# - - - - - - - - - - - - - - - - - - - - - - - - - -
#
# Template configuration file for GSP
#
# - - - - - - - - - - - - - - - - - - - - - - - - - -


# - - - - - GENERAL - - - - - - - - - - - - - - - - - 

debug=1
# Debug level
# 0 - none, 1 - moderate, 2 - maximum output

prefix="Testruns"
# Used to group all data of the run.
# Typically use the name of the study region, e.g. "central-alps"

SAR_sensor="Sentinel"
SAR_datatype="TOPS"
swaths_to_process=(3)


# - - - - - PROCESSING STEPS - - - - - - - - - - - - - - - - 

process_intf_mode=single_master
# Mode to process interferograms.
# pairs -> Rolling master (A-B, B-C, C-D, ...)
# single_master -> Fixed master (A-B, A-C, A-D, ...)
# both -> process in both modes

master_scene_date=20160217
# Optionally specify the scene to use as Master in single_master mode


process_coherence_diff=1
# Activate processing of coherence differences (0 = no,1 = yes)

process_reverse_intfs=0
# Activate processing of inverse interferograms (0 = no,1 = yes)
# Master and slave image will be switched and differences between
# original and reverse interferograms will be calculated.
# Primarily useful to assess phase unwrapping errors.
# Warning: Will need a lot of extra computing time. 

process_SBAS=0

process_pdf_overview=1
# Create an overview pdf of the processing results (0 = no,1 = yes)
# The PDF will be located in the output folder

# - - - - - SLURM CONFIGURATION - - - - - - - - - - - - - -

slurm_account=morsanat
# SLURM account name

slurm_ntasks=5   
# Number of cores used for parallel processing. 
# Fit this number to make sure sufficient RAM (~15 GB for full S1 swath) is available for processing.
# For example, when 3 GB of RAM are allocated for each core, use 5 or more ntasks.

slurm_jobname_prefix="GSP"
# Choose a name to identify your jobs in the SLURM queue

slurm_qos=medium
# Job type

slurm_partition=computehm
# Partition used for computing.
# Optional in most cases, comment out when not needed

slurm_mailtype=ALL
# SLURM mail setup. 
# Optional in most cases, comment out when not needed


# - - - - - BASE DATA PATHES - - - - - - - - - - - - - - -

base_PATH="/data/scratch/loibldav/GSP"
# Path to directory where GSP will put all files

topo_PATH="/data/scratch/loibldav/topo/Golubin-SRTM"
# Path to directory containing topo data (dem.grd file)
# Generate at http://topex.ucsd.edu/gmtsar/demgen/


# - - - - - DOWNLOADS AND DATA - - - - - - - - - - - - 

update_orbits=0
# Activate (1) or deactivate (0) automatic orbit retrieval

orbits_PATH="/data/scratch/loibldav/S1-Orbits"
# Path to S1 orbit data
# Existing orbits will be used
# If folder does not exist or is empty, orbits will be downloaded here
# --> make sure to set $update_orbits to "1"

#input_files="/data/scratch/loibldav/S1-archive/testdata"
input_files="/data/scratch/loibldav/S1-archive/Golubin-DSC-orbit_107-pass_4"

# Options:
# download - use the DHuS script to obtain data, configure, below
# full path to a directory containing the S1 scene to process, e.g. /data/S1-scenes 

orig_files="keep"
# Options:
# extract - Unizp files from input folder
# keep - recommended when files were already extracted in a previous run

username="slingshot"
password="esa@ADALbertSTEINweg80AC!"
# Login credentials for your ESA DHuS account
# Only required when $input_files is set to "download"

import_data_type="search_string"
# Configuration for DHuS download 
# (only relevant when 'input_files' is set to 'download')
# Options:
# meta4 - use meta4 file obtained from the DHuS website
# filelist - use a list file generated according to DHuS rules (e.g. from a previous GSP run)
# search_string - use a dhus-comapatible search string

meta4_file="/data/scratch/loibldav/GSP/Input/Meta4/Bishkek-Golubin-2017-03-01.meta4"
# Path and file name of meta4 file
# (only relevant when 'input_files' is set to 'download' and 'import_data' to 'meta4')
# (a) Path and file name of a .meta4 file

filelist_file="/data/scratch/loibldav/GSP/Input/Meta4/Bishkek-Golubin-2017-03-01-filelist.txt"
# Path and file name of filelist file
# (only relevant when 'input_files' is set to 'download')
# Either generated from meta4 file or allready existing

# If not using meta4 or file list, specifiy the DHuSget search configuration manually 
# download_string="-m Sentinel-1 -i SAR -S 2015-10-01T06:00:00.000Z -c 74.330,42.420:74.620,46.600 -T SLC"
download_string="-F '( footprint:\"Intersects(POLYGON((74.10939131201312 42.27639698758162,74.81882318407474 42.27639698758162,74.81882318407474 42.635216267951876,74.10939131201312 42.635216267951876,74.10939131201312 42.27639698758162)))\" ) AND ( beginPosition:[2015-05-01T00:00:00.000Z TO NOW] AND endPosition:[2015-05-01T00:00:00.000Z TO NOW] ) AND (platformname:Sentinel-1 AND producttype:SLC AND sensoroperationalmode:IW AND relativeorbitnumber:27 AND slicenumber:11 )'" 

download_option="product"
# Options: product - manifest - all

concurrent_downloads="2"


# - - - - - GMTSAR BASIC CONFIG - - - - - - - - - - 

# File name of GMTSAR congif file. Specify full path if the file is
# not located in the program directory (along with this config file)
gmtsar_config_file="config/GMTSAR-testruns.config"

gmtsar_mode="single-pair"

